.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 16px 16px 16px;
  color: #374151;  
}

.location__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 100vh;
  background-color:#f7f4f6;
  padding: 16px;
  z-index: 0;
}

.location__card {
  font-family: "Source Sans Pro", sans-serif;
  padding: 16px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 16px;
}

.map__container {
  background-color: #00486A;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  color: whitesmoke;
  padding: 16px;
  border-radius: 9px;
}